# Settings for the Docker wiring. Beware that some of these values are repeated in other configuration files (because sharing them through multiple containers and file formats is such a pain).
CLIENT_PORT=3200
SERVER_PORT=3201
DATABASE_PORT=3202
ADMINER_PORT=3203

# A domain on which the client application runs. It's needed for CORS.
CLIENT_DOMAIN=http://localhost:3200

# Server database settings.
DATABASE_DATABASE=mmcat
DATABASE_USERNAME=mmcat
# Any random string will do.
DATABASE_PASSWORD=

# Somethig for postgres. Basically any random string will do.
# Make sure to use it in application.properties as well.
POSTGRESQL_SUPERUSER_PASSWORD=

# Example database settings. Not all of them use this (I am looking at you, neo4j ...).
EXAMPLE_DATABASE_BASIC=example_basic
EXAMPLE_DATABASE_QUERY_EVOLUTION=example_query_evolution
EXAMPLE_DATABASE_INFERENCE=example_inference
EXAMPLE_USERNAME=user
EXAMPLE_PASSWORD=password

# Temporary settings for the client rewriting.
CLIENT_OLD_PORT=3210
CLIENT_OLD_DOMAIN=http://localhost:3210
