.mm-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: theme(menuDimension) calc(theme(contextWidth) + theme(layoutBorderWidth)) 1fr;
    transition: grid-template-columns 300ms;

    .mm-menu {
        max-height: 100%;
        width: theme(menuDimension);
        overflow-y: auto;
        overflow-x: hidden;
        @apply hide-scrollbar;

        .mm-menu-element {
            width: 100%;
            height: theme(menuDimension);
        }
    }

    .mm-context {
        max-height: 100%;
        width: calc(theme(contextWidth) + theme(layoutBorderWidth));
        overflow-x: hidden;

        display: grid;
        grid-template-rows: theme(menuDimension) 1fr;

        border-left: theme(layoutBorderWidth) solid hsl(var(--nextui-foreground-500));
        @apply dark:border-foreground-200;

        .mm-context-header {
            height: theme(menuDimension);
        }

        .mm-context-content {
            scrollbar-gutter: stable;

            border-top: theme(layoutBorderWidth) solid hsl(var(--nextui-foreground-500));
            @apply dark:border-foreground-200;
        }
    }

    .mm-content {
        max-height: 100%;

        border-left: theme(layoutBorderWidth) solid hsl(var(--nextui-foreground-500));
        @apply dark:border-foreground-200;

        @apply bg-foreground-200 dark:bg-foreground-50;
    }

    &.collapsed {
        grid-template-columns: theme(menuDimension) 0px 1fr;
    }
}
