@import './variables.scss';
@import './global.scss';
@import 'bootstrap/scss/bootstrap';

/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-gray: #484848;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.16);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    /*--vt-c-text-light-2: rgba(60, 60, 60, 0.66);*/
    --vt-c-text-light-2: rgba(60, 60, 60, 1);
    --vt-c-text-dark-1: var(--vt-c-white);
    /*--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);*/
    --vt-c-text-dark-2: rgba(235, 235, 235, 1);
}

/* semantic color variables for this project */
:root {
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;

    --top-bar-height: 64px;
}

:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: #E0E0E0;
    --color-background-dark: #BDBDBD;
    --color-background-canvas: #E0E0E0;
    --color-background-disabled: #9E9E9E;
    
    --color-text-disabled: #484848;

    --color-primary: #00bd7e;
    --color-primary-dark: hsla(160, 100%, 37%, 0.2);
    --color-secondary: hsl(280, 100%, 37%);
    --color-error: #FF5252;
    --color-info: #2196F3;
    --color-success: #4CAF50;
    --color-warning: #FFC107;

    --left-bar-width: 220px;
    /*
    --schema-category-canvas-width: 900px;
    --schema-category-canvas-height: 600px;
    */
    --schema-category-canvas-width: 1000px;
    --schema-category-canvas-height: 700px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);
        --color-background-dark: #040404;
        --color-background-canvas: var(--vt-c-white-soft);
        --color-background-disabled: var(--vt-c-gray);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
        --color-text-disabled: #484848;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        --schema-category-canvas-width: 800px;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --schema-category-canvas-width: 700px;
    }
}

.color-primary {
    --color-text: var(--color-primary);
}

.color-secondary {
    --color-text: var(--color-secondary);
}

*,
*::before,
*::after {
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, button {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.text-right {
    text-align: right;
}

.text-error {
    color: var(--color-error);
}

.text-info {
    color: var(--color-info);
}

.text-success {
    color: var(--color-success);
}

.text-warning {
    color: var(--color-warning);
}

/* To remove the small space under the text area. */
textarea {
    vertical-align: top;
    resize: none !important;
}

.number-input {
    max-width: 80px;
}

.monospace-font {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

/*
    Layout
*/

.content {
    margin-top: var(--top-bar-height);
    padding-left: var(--left-bar-width);
    height: calc(100vh - var(--top-bar-height));
    @extend .scrollbar-fix;
}

.inner-content {
    padding: 10px 20px;
}

.monospace-numbers {
    font-variant-numeric: tabular-nums;
}