/*
    Remove arrows in the number inputs.
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*
    Prevent scrollbar from affecting the width.
*/
.scrollbar-fix {
    overflow: auto;
    scrollbar-gutter: stable;
}

/*
    Make certain parts of text (i.e., labels of checkboxes that act like buttons) unselectable.
*/

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.clickable {
    @extend .unselectable;
    cursor: pointer !important;
}

.non-clickable {
    @extend .unselectable;
    cursor: default !important;
}

.pre-line {
    white-space: pre-line !important;
}
