/* Common utility classes */

.heading-main {
    @apply text-2xl font-bold;
}

.heading-large {
    @apply text-3xl font-bold leading-tight;
}

.breadcrumb {
    a {
        @apply text-zinc-900 text-sm no-underline;
    }

    a:hover {
        @apply text-zinc-800;
    }

    span:last-child {
        @apply text-blue-600 font-bold text-sm;
    }

    span:last-child:hover {
        @apply text-blue-700;
    }
}

.sidebar-icon {
    @apply mr-2 w-5 h-5;
}
