/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  /*--vt-c-text-light-2: rgba(60, 60, 60, 0.66);*/
  --vt-c-text-light-2: rgba(60, 60, 60, 1);
  --vt-c-text-dark-1: var(--vt-c-white);
  /*--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);*/
  --vt-c-text-dark-2: rgba(235, 235, 235, 1);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @tuaki my additions */
:root {
  --vt-c-gray: #484848;

  --color-background-dark: #040404;
  --color-background-inverse: var(--vt-c-black-soft);
  --color-background-disabled: var(--vt-c-black-mute);

  --color-primary: hsla(160, 100%, 37%, 1);
  --color-primary-dark: hsla(160, 100%, 37%, 0.2);
  --color-error: #FF5252;
  --color-info: #2196F3;
  --color-success: #4CAF50;
  --color-warning: #FFC107;

  --left-panel-width: 220px;
  --schema-category-canvas-width: 800px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-background-inverse: var(--vt-c-white-soft);
    --color-background-disabled: var(--vt-c-gray);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 3px;
  transition: all 0.2s;
  outline: none;
  /*background-color: var(--color-background);*/
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}

button:hover, button.selected {
  background-color: var(--color-text);
  color: var(--color-background);
}

button:disabled, button:disabled:hover {
  background-color: var(--color-background-disabled);
  color: var(--color-text);
  cursor: auto;
}

/*
button + button {
  margin-left: 16px;
}
*/

button.error {
  color: var(--color-error);
  border-color: var(--color-error);
}

button.error:hover, button.error.selected {
  background-color: var(--color-error);
  color: var(--color-background);
}

button.info {
  color: var(--color-info);
  border-color: var(--color-info);
}

button.info:hover, button.info.selected {
  background-color: var(--color-info);
  color: var(--color-background);
}

button.success {
  color: var(--color-success);
  border-color: var(--color-success);
}

button.success:hover, button.success.selected {
  background-color: var(--color-success);
  color: var(--color-background);
}

button.warning {
  color: var(--color-warning);
  border-color: var(--color-warning);
}

button.warning:hover, button.warning.selected {
  background-color: var(--color-warning);
  color: var(--color-background);
}

.text-right {
  text-align: right;
}

.row {
  margin-top: 4px;
}

.button-row {
  margin-top: 12px;
}

.button-row button + button {
  margin-left: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}