mongodb.host=localhost
mongodb.port=27017
mongodb.database=mmcat_test
mongodb.authenticationDatabase=admin
mongodb.username=mmcat_user
mongodb.password=mmcat_password

postgresql.host=localhost
postgresql.port=5432
postgresql.database=mmcat_test
postgresql.username=mmcat_user
postgresql.password=mmcat_password