.button {
    -fx-font-weight: bold;
    /*-fx-font-size: 30;*/
}

.split-pane *.vertical-grabber {
    -fx-padding: 0;
/*    -fx-background-color: transparent;*/
    -fx-background-color: yellow;
    -fx-background-insets: 0;
    -fx-shape: " ";
}

.split-pane:vertical > * > .split-pane-divider {
   -fx-border-color:  orange;/*transparent;*/
   -fx-background-color: transparent;
   -fx-background-insets: 0;
}

/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color:  red;
   /*-fx-border-color: transparent -fx-box-border transparent #BBBBBB;*/
   -fx-background-color: transparent, -fx-inner-border-horizontal;
   -fx-background-insets: 0, 0 1 0 1;
}

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > * > .split-pane-divider {
    -fx-border-color:  purple;
   /*-fx-border-color:  #BBBBBB transparent -fx-box-border transparent;*/
   -fx-background-color: transparent, -fx-inner-border;
   -fx-background-insets: 0, 1 0 1 0;
}