# A default configuration when no other is found.
# This is a local version only!

# The url of the backend server. All API requests are going to be sent here.
VITE_BACKEND_API_URL=

# Base of the url path from which is the client application served. The default value is '/' (which means "http://<your-domain>/").
# For example, if you select '/folder/', the url will change to "http://<your-domain>/folder/".
# BASE_PATH=

# Link to the documentation page
VITE_DOCUMENTATION_URL=