{{ $code := .Get "code" }}
{{ $buttonLabel := .Get "label" }}
{{ $id := .Get "id" }}

<div style="text-align: center;">
    <a
        href="javascript:void(0);"
        class="btn btn-large"
        onclick="document.getElementById('{{ $id }}').style.display = document.getElementById('{{ $id }}').style.display === 'none' ? 'block' : 'none';"
    >
        {{ $buttonLabel }}
    </a>
    <br />
    <div id="{{ $id }}" style="display: none; text-align: left; background-color: #f4f4f4; border: 1px solid #ccc; font-family: monospace; overflow: auto;">
        {{ $code | safeHTML }}
    </div>
</div>
